iCalculator.xcodeproj/project.xcworkspace/xcuserdata/*
iCalculator.xcodeproj/project.xcworkspace/xcuserdata/helen.xcuserdatad/UserInterfaceState.xcuserstate
iCalculator.xcodeproj/xcuserdata/helen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
